@page "/todo"
@using System.Text.Json;

<h3>ToDoForm</h3>
<ul>
	<li>These are task that are either heavely required to complete, or have a strong demand to completion.</li>
	<li>I will most likly reflect tools like jira for the story/epic styled scrum methedology.</li>
	<li>look to adding complete by date.</li>
	<li>
		look to adding a create/add task feature. <br />
		look to making the task list load from storage.
	</li>
</ul>
<section>
	<h3>TODO</h3>
	<p>
		<br />Should have a task class, with add/remove,
		<br />Should have a way to save/load, save button (one day auto save).
		<br />Should use a List of bools rather than fixed a constant count.
		<br />Will have to figure out how to get a foreach in the HTML
	</p>
	<form>
		<input type="checkbox" @bind="MyTasks[0].IsCompleted">
		<label>@MyTasks[0].Description, @MyTasks[0].TaskPriority</label><br>

		<input type="checkbox" @bind="MyTasks[1].IsCompleted">
		<label>@MyTasks[1].Description</label><br>

		<input type="checkbox" @bind="MyTasks[2].IsCompleted">
		<label>@MyTasks[2].Description</label><br>

		<input type="checkbox" @bind="MyTasks[3].IsCompleted">
		<label>@MyTasks[3].Description</label><br>

		<button type="button" @onclick="SaveTasks">Save</button>
	</form>
</section>

@code {
	private List<Tasks> MyTasks = new List<Tasks>
	{
		new Tasks(Guid.NewGuid(), "Get the NameCheap SSL problem solved.",
		true, DateTime.Now, DateTime.Now, PriorityLevel.Low),
		new Tasks(Guid.NewGuid(), "Look into the keyboard media key setup.",
		true, DateTime.Now, DateTime.Now, PriorityLevel.Low),
		new Tasks(Guid.NewGuid(), "Look into a reduced Resume creation. (very reduced.)",
		false, DateTime.Now, DateTime.Now, PriorityLevel.Low),
		new Tasks(Guid.NewGuid(), "Start studying on the CCSE FYE material.",
		true, DateTime.Now, DateTime.Now, PriorityLevel.Low),
	};
}
